<%= form_with(model: article) do |form| %>
<%= render 'shared/errors' , obj: @article %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>
<br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
