<p style="color: green"><%= notice %></p>
 <%if logged_in? %>
<button>
<%= link_to  'Logout', logout_path, method: :delete %>
</button>
<%else%>
<button>
<%= link_to "Login", login_path %> </button>
 <button><%= link_to "Signup", signup_path %></button>
 

<%end%>
 
<p> <strong> User : </strong> <%= @article.user.username if @article.user%> </p>
 <div id="<%= dom_id @article %>">
 <p>
   <strong>Title:</strong>
   <%= @article.title %>
 </p>
 <p>
   <strong>description:</strong>
   <%= @article.description %>
 </p>
 </div>
 
</div>
 
<%if logged_in? && (@article.user == current_user || current_user.admin?)%>
<div>
  <%= link_to "All Articles", articles_path %>
  <%= link_to "Edit", edit_article_path(@article) %> 
  <%= button_to "Delete", @article, method: :delete %>
</div>
<%else%>
 <div> <%= link_to "Back to articles", articles_path %></div>
<%end%>
